*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
  }

html {
    background: linear-gradient(180deg, rgba(234,2,255,1) 0%, #0097ff 100%);
  }

header {
    padding: 10px;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
  border-radius: 20px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu a {
  margin-right: 15px;
  text-decoration: none;
  color: #000;
}

#buscar {
  padding: 5px;
  border-radius: 25px;
  
}

.content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}

.form_box {
  display: flex;
  align-items: center; 
  height: 100%; 
  border-radius: 100px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 180px;
}


.footer {
  border-top: 0.4px solid rgba(255, 241, 231, 0.4);
  align-items: center; 
}